<form>

    <div class="form-group">
      <label for="custName">Name</label>
      <input type="text" class="form-control" id="custName"  name="custName" required>
    </div>
  
    <div class="form-group">
      <label for="custDOB">Date of Birth</label>
      <input type="date" class="form-control" id="custDOB"  name="custDOB" required>
    </div>
  
    <div class="form-group">
      <label for="custAge">Age</label>
      <input type="number" class="form-control" id="custAge" name="custAge" required>
    </div>
  
    <div class="form-group">
      <label for="custEmail">Email</label>
      <input type="email" class="form-control" id="custEmail"  name="custEmail" required>
    </div>
  
