<h2>List of Loan Applications</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Customer Id</th>
      <th>Property Id</th>
      <th>Loan Amount</th>
      <th>Interest Rate</th>
      <th>Term</th>
      <th>Status</th>
      <th>Date Submitted</th>
      <th>Date Approved</th>
      <th>Loan Officer Id</th>
      <th>Credit Score</th>
      <th>Monthly Payment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loanApplication of loanApplications"  (click)="showLoanApplicationDetails(loanApplication.id)">
      <td>{{loanApplication.id}}</td>
      <td>{{loanApplication.customerId}}</td>
      <td>{{loanApplication.propertyId}}</td>
      <td>{{loanApplication.loanAmount}}</td>
      <td>{{loanApplication.interestRate}}</td>
      <td>{{loanApplication.term}}</td>
      <td>{{loanApplication.status}}</td>
      <td>{{loanApplication.dateSubmitted}}</td>
      <td>{{loanApplication.dateApproved}}</td>
      <td>{{loanApplication.loanOfficerId}}</td>
      <td>{{loanApplication.creditScore}}</td>
      <td>{{loanApplication.monthlyPayment}}</td>
    </tr>
  </tbody>
</table>
