table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
    font-family: Arial, sans-serif;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #333;
    color: #fff;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  